body,div,h2,ul{margin:0;}
body{font-family:Verdana,sans-serif;height:100vh;}
h2{margin-top:3em;text-align:center;}
ul{
  list-style-type:none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-padding-start:0;
}
li{text-align:center;}
div{height:100%;overflow:auto;}
li a{
  font-size: 14px;
  background-color: black;
  border-radius: 4px;
  color: white;
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  text-decoration: none;
}