table, nav > a{
    border:5px solid grey;
    border-radius: 5px;
}
table{
    margin:10px auto;
}

table td{
    padding: 5px;
    outline: 1px solid grey;
}
table td:first-child{
    text-align: right;
}

table td:last-child{
    text-align: left;
}

table a{
    color:black;
    text-decoration: none;
    width:2em;
}
.foodName{
    width:7em;
}